B2BManager/App_WebReferences/EluxBotService/EluxBotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LogAction">
        <s:complexType />
      </s:element>
      <s:element name="LogActionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailability">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailabilityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPrice">
        <s:complexType />
      </s:element>
      <s:element name="GetPriceResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFullConversation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conversationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="developperToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="returnJson" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeFullHTML" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFullConversationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFullConversationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogActionSoapIn">
    <wsdl:part name="parameters" element="tns:LogAction" />
  </wsdl:message>
  <wsdl:message name="LogActionSoapOut">
    <wsdl:part name="parameters" element="tns:LogActionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailability" />
  </wsdl:message>
  <wsdl:message name="GetAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetFullConversationSoapIn">
    <wsdl:part name="parameters" element="tns:GetFullConversation" />
  </wsdl:message>
  <wsdl:message name="GetFullConversationSoapOut">
    <wsdl:part name="parameters" element="tns:GetFullConversationResponse" />
  </wsdl:message>
  <wsdl:portType name="EluxBotService1Soap">
    <wsdl:operation name="LogAction">
      <wsdl:input message="tns:LogActionSoapIn" />
      <wsdl:output message="tns:LogActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <wsdl:input message="tns:GetAvailabilitySoapIn" />
      <wsdl:output message="tns:GetAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFullConversation">
      <wsdl:input message="tns:GetFullConversationSoapIn" />
      <wsdl:output message="tns:GetFullConversationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EluxBotService1Soap" type="tns:EluxBotService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogAction">
      <soap:operation soapAction="http://tempuri.org/LogAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <soap:operation soapAction="http://tempuri.org/GetAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullConversation">
      <soap:operation soapAction="http://tempuri.org/GetFullConversation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EluxBotService1Soap12" type="tns:EluxBotService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogAction">
      <soap12:operation soapAction="http://tempuri.org/LogAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <soap12:operation soapAction="http://tempuri.org/GetAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullConversation">
      <soap12:operation soapAction="http://tempuri.org/GetFullConversation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EluxBotService1">
    <wsdl:port name="EluxBotService1Soap" binding="tns:EluxBotService1Soap">
      <soap:address location="http://euws1462:70/EluxBot/EluxBotService.asmx" />
    </wsdl:port>
    <wsdl:port name="EluxBotService1Soap12" binding="tns:EluxBotService1Soap12">
      <soap12:address location="http://euws1462:70/EluxBot/EluxBotService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>